html {
    padding: 1%;
}

header {
	display: flex;
    justify-content: center;
}

.main-wrapper {
    display: flexbox;
	margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color:#73b66f;
}

.hide {
    display: none;
}